@model List<DataAccessLayer.Domain.Medicine>

@{
    ViewData["Title"] = "Medicines by Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/home_detail.css">
}

<div class="row">
    <h2>Medicines by Category: @ViewBag.Category</h2>
    @foreach (var medicine in Model)
    {
        <div class="col-md-3">
            <div class="card border-2" style="border-color: #244b81;">
                <img src="@Url.Content(medicine.ImagePath)" alt="@medicine.medicine_name" class="card-img-top" style="max-height: 100px; width:80%;">
                <div class="card-body">
                    <h5 class="card-title" style="color:darkmagenta;"><strong>@medicine.medicine_name</strong></h5>
                    <p class="card-text">
                        <strong>Brand:</strong> <span class="highlight">@medicine.brand_name</span><br />
                        <strong>Category:</strong> <span class="highlight">@medicine.disease_category</span><br />
                        <strong>Composition:</strong> @medicine.composition<br />
                        <strong>Formulation_Type:</strong> @medicine.formulation_type<br />
                        <strong>Mfd:</strong> @medicine.mfd.ToShortDateString()<br />
                        <strong>Expd:</strong> @medicine.Expd.ToShortDateString()<br />
                        <strong>Weight/Capacity:</strong> @medicine.weight<br />
                        <strong>Cost:</strong> $@medicine.cost<br />
                    </p>

                    <a asp-action="MedicineDisplay" asp-controller="Home" asp-route-medicineId="@medicine.Id" class="btn btn-danger float-right" style="margin-right: 10px;">Add</a>
                </div>
            </div>
        </div>



    }
</div>

