@model List<DataAccessLayer.Domain.Medicine>

@{
    ViewData["Title"] = "Medicines by Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medicines by Category: @ViewBag.Category</h2>

<div class="row">
    @foreach (var medicine in Model)
    {
        <div class="col-md-3 mt-4">
            <div class="card">
                <img src="@Url.Content(medicine.ImagePath)" alt="@medicine.medicine_name" class="card-img-top" style="max-height: 100px; width:80%;">
                <div class="card-body">
                    <h6 class="card-title">@medicine.medicine_name</h6>
                    <p class="card-text">
                        Brand: @medicine.brand_name<br />
                        Category: @medicine.disease_category<br />
                        Cost: $@medicine.cost<br />
                        Mfd: @medicine.mfd.ToShortDateString()<br />
                        Expd: @medicine.Expd.ToShortDateString()<br />
                        Weight/Capacity: @medicine.weight
                    </p>

                    <a asp-action="MedicineDisplay" asp-controller="Home" asp-route-medicineId="@medicine.Id" class="btn btn-danger float-right" style="margin-right: 10px;">Add</a>
                    @* <button type="button" class="btn btn-danger float-right" style="margin-right: 10px;">Add</button><br />*@
                    @*  <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to All Medicines</a>*@
                </div>
            </div>
        </div>
    }
</div>
